

* {
  font-family: 'League Spartan', sans-serif;
  
}

#banner .inner {
  margin: 0 auto;
  width: 90em;
  min-height: 100vh;
  padding-bottom: 0;
  padding-top: 60px;
}
#banner .inner p{
  font-size: 100px;
  max-width: 110rem;
  font-size: 7vw;
}
#banner .inner .heading1{
  font-size: 180px;
  padding-bottom: 0;
  padding-top: 5rem;
  border-bottom: 2px solid black;
  font-size: 12vw;
}

#aboutMe .content{
  margin: 0 auto;
  width: 90em;
  min-height: 100vh;
  padding-top: 60px;

}
#aboutMe .heading{
  font-size: 150px;
  margin: 0;
  font-size: 9rem;
}

#aboutMe .content p{
  font-size: 29px;
  line-height: 45px;
  max-width: 50rem;
  font-size: 2rem;
}

#skills .content{
  margin: 0 auto;
  width: 90em;
  padding-top: 60px;
}

#skills .heading{
  font-size: 150px;
  margin: 0 auto;
  width: 90em;
}
#skills .smallHeading{
  font-size: 25px;
}
.skills-text{
  font-size: 20px;
  
}

.devicon-javascript-plain{
  font-size: 70px;
  
}

.skills-icon i{
  font-size: 50px;
  font-display: center;
  margin: 0;
  
}

.skills-icon {
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 30px 100px 100px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.skills-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 15rem;
}

#Projects .content{
  margin: 0 auto;
  width: 90em;
  min-height: 100vh;
  padding-top: 60px;

}
#Projects .heading{
  font-size: 150px;
  margin: 0;
}
#Projects .smallHeading{
  font-size: 25px;
}

#Projects p{
  max-width: 60vw;
  font-size: 20px;
  font-size: 1.5rem;
}
.projectLinks a{
  font-size: 20px;
  color: black;
  
}
.capstoneVid {
  max-width: 200px;
}
.capstoneVideoDemo {
  max-width: 50%;
  height: auto;
}

#contactInfo .content{
  margin: 0 auto;
  width: 90em;
  min-height: 50vh;

}
#contactInfo .heading{
  font-size: 150px;
  margin: 0;
  text-align: center;
  max-width: 90vw;
}
#contactInfo p{
  font-size: 1.5rem;
  max-width: 90vw;
  margin: 0;
  padding-bottom: 10rem;
  text-align: center;

}

#contactInfo a{
  text-decoration: none;
  color: black;
  font-size: 65px;
}

.contactButton {
  display: inline-block;
  padding-bottom: 20px;
}
#sitefooter {
text-align: center;
padding-top: 30rem;
max-width: 90vw;
}

.devicon-github-original:hover {
  color: grey;
}

.devicon-linkedin-plain:hover {
  color: grey;
}
#envelope:hover {
  color: grey;
}
#sitefooter .logo img {
  text-align: center;
  max-width: 8vw;
  }
  #site-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 20rem;
    z-index: 999;
    background-color: #525e65;
    text-align: center;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
  }
  #site-nav .current-menu-item a, #site-nav .current-menu-parent a {
    color: #73CCA8;
    border-bottom: 4px solid #73CCA8;
}
#site-nav a {
  display: block;
  height: 3rem;
  padding: 0 1rem;
  color: #DBE8D4;
  line-height: 3em;
}
a {
  color: #73CCA8;
  text-decoration: none;
  cursor: pointer;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
#site-nav ul {
  margin: 0;
  list-style: none;
}
#site-nav li {
  display: inline-block;
  padding-bottom: 0;
}